# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Credentials
.env
credentials/
service_account.json
*.json

# OS files
.DS_Store

# Replit
.replit
replit.nix

# IDE
.vscode/
.idea/

# Build artifacts
*.log