# Python venv
.venv/
env/
venv/
streamlit_env/

# Environment variables
.env
*.env

# Google Credentials
credentials/*.json
*.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Streamlit
.streamlit/

# Windows files
Thumbs.db
Desktop.ini

# macOS
.DS_Store
